
<div class="row">
	<div class="col-xs-12">
		<div class="box">
			<div class="box-header">
				<h3 class="box-title">日志管理</h3>
				<div class="box-tools">
					<div class="input-group input-group-sm" style="width: 350px;">
						<input type="text" name="table_search" id="searchNameId"
							class="form-control pull-right" placeholder="用户名">

						<div class="input-group-btn">
							<button type="button" class="btn btn-default btn-search">
                                <i class="fa fa-search"></i>
							</button>
							<button type="button" class="btn btn-default btn-delete">删除</button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive no-padding">
				<table class="table table-hover">
					<thead>
						<tr>
						    <th><input type="checkbox" id="checkAll">全选</th>
							<th>用户名</th>
							<th>操作</th>
							<th>请求方法</th>
							<th>请求参数</th>
							<th>IP</th>
							<th>执行时长</th>
						</tr>
					</thead>
					<tbody id="tbodyId">
					    <tr>
					       <td colspan="7">数据正在加载中...</td>
					    </tr>
					</tbody>
				</table>
			</div>
			<div id="pageId" class="box-footer clearfix" dm="100">
			  
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
</div>
<script type="text/javascript">
 $(function(){
	 $("#pageId").load("doPageUI",function(){//doPageUI页面加载完成执行
		 doGetObjects();
	 });
	 $(".input-group-btn").on("click",".btn-search",doQueryObjects)
	 .on("click",".btn-delete",doDeleteObjects);
	 $("#checkAll").change(doChangeTBodyCheckboxState);
	 //tbody中checkbox对象事件注册
	 $("#tbodyId").on("change","input:checkbox",doChangeTHeadCheckboxState)
	 
 });
//修改thead中checkbox状态,让其状态同步于tbody中checkbox逻辑与以后的结果.
 function doChangeTHeadCheckboxState(){
	 //1.计算tbody中checkbox状态逻辑与的结果
	 var flag=true;
	 $("#tbodyId input:checkbox")
	 .each(function(){
		 flag=flag&&$(this).prop("checked");
	 });
	 //2.修改thead中checkbox的值
	 $("#checkAll").prop("checked",flag);
 }
 function doChangeTBodyCheckboxState(){
	 /* debugger */
	 //1.获取thead中checkbox对象状态值
	 let checked=$(this).prop("checked");//$(this)指向#checkAll对象
	 //2.修改tbody中checkbox状态值
	 $("#tbodyId input:checkbox").prop("checked",checked);
 }
//获取日志列表页面选中记录
 function doGetCheckedIds(){
	 //1.定义数组,用于存储选中的多个记录id
	 let idArray=[];
	 //2.获取tbody中所有选中checkbox的值并将其存储到数组
	 $("#tbodyId input:checkbox:checked")
	 .each(function(){//each函数用于迭代获取的checkbox对象
		idArray.push($(this).val());//push用于向数组追加内容
	 });
	 return idArray;
 }
 //删除操作事件处理函数
 function doDeleteObjects(){
	// debugger
    //1.定义请求url
    let url="log/doDeleteObjects";
    //2.定义请求参数
    var idArray=doGetCheckedIds();
    if(idArray.length==0){
    	alert("请先选择");
    	return;
    }
    if(!confirm("确认删除吗"))return;
    var params={ids:idArray.toString()};//服务端不可以直接接受客户端js数组
    console.log(params);
    //3.发送异步请求执行删除操作
    $.post(url,params,function(result){
    	if(result.state==1){
    		alert(result.message);
    		doGetObjects();
    	}else{
    		alert(result.message);
    	}
    })
 }
 function doQueryObjects(){
	   //为什么要在此位置初始化pageCurrent的值为1?
	   //数据查询时页码的初始位置也应该是第一页
	   $("#pageId").data("pageCurrent",1);
	   //为什么要调用doGetObjects函数？
	   //重用js代码，简化jS代码编写。
	   doGetObjects();
 }
 
 //异步加载用户行为日志并更新到页面上
 function doGetObjects(){
	 //1.请求url
	 let url="log/doFindPageObjects";
	 var pageCurrent=$("#pageId").data("pageCurrent");

	 //2.请求参数
	 
	 if(!pageCurrent)pageCurrent=1;
	 var params={"pageCurrent":pageCurrent};//pageCurrent=2
	 //为什么此位置要获取查询参数的值?
	   //一种冗余的应用方法，目的时让此函数在查询时可以重用。
	   var username=$("#searchNameId").val();
	   //如下语句的含义是什么？动态在json格式的js对象中添加key/value,
	   if(username) params.username=username;//查询时需要


	 //3.发送异步请求获取数据并更新到页面上
	 $.getJSON(url,params,function(result){//JsonResult
		 //console.log(result);
		 doHandleQueryResponseResult(result);
	 })
 }
 //将查询响应结果更新到页面上
 function doHandleQueryResponseResult(result){//JsonResult
	 if(result.state==1){//success
		 //1)将当前页数据更新到页面
		  doSetTableBodyRows(result.data.records);//result.data在这里为pageObject
		 //2)将分页信息更新到页面上
		  doSetPagination(result.data);//将这个函数写到page.html
	 }else{//error
		 alert(result.message);
	 }
 }
 //更新tbody中的日志信息
 function doSetTableBodyRows(records){
	 //1.获取tbody对象并清空内容
	 let tBody=$("#tbodyId");
	 tBody.empty();
	 //2.迭代records记录并将其追加到tbody中
	 records.forEach(item=>{
		 tBody.append(doCreateTr(item));
	 });
 }
 function doCreateTr(item){
	 return `<tr>
	            <td><input type='checkbox' value=${item.id} /></td>
	            <td>${item.username}</td>
	            <td>${item.operation}</td>
	            <td>${item.method}</td>
	            <td>${item.params}</td>
	            <td>${item.ip}</td>
	            <td>${item.time}</td>
	         </tr>`;
 }
 
 
 
 
 
 
 
</script>






